<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>931680618964-bdoerm6pk19ob1ae9iqfc1ah4ops7do3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.931680618964-bdoerm6pk19ob1ae9iqfc1ah4ops7do3</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>931680618964-ahujddr3bdf77sblip2nbrn1hb441ivh.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyC_EN6p-HT1ykpUmzIPeP3jy-n0i-dvFMw</string>
	<key>GCM_SENDER_ID</key>
	<string>931680618964</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.codiansoft.dineindorm</string>
	<key>PROJECT_ID</key>
	<string>foodapp-666fd</string>
	<key>STORAGE_BUCKET</key>
	<string>foodapp-666fd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:931680618964:ios:13720032c95078dd87ae41</string>
</dict>
</plist>